<!DOCTYPE html>
<html>
    <head> Excel File uploading</head>
    <body>
        <h3>  Excel Uploading</h3>
        <form enctype="multipart/form-data" method="POST">

            <span>Upload Excel File  here</span>
            <input type="file" name="file" required />
            <br>
            <input type="submit" value="Upload"/>

        </form>
    </body>
</html>
